@import url('https://fonts.googleapis.com/css?family=Anton');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Anton', sans-serif;
}

body {
    padding-top: 67px;
}
.container {
    width: 960px;
    margin: auto;
    background:#2D3025;
}
.title {
    float: right;
    text-align: center;
}


.main-nav {
	width: 960px;
    height:10px;
    padding: 5px 0px 5px 0px;
    clear:both;
    position: fixed;
    top: 0px;
}

/* navigation menu start here */
.main-nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}

 .main-nav li {
    float: left;
     width: 33.33%;
}

.main-nav li a {
    display: block;
    color: rebeccapurple;
    text-align: center;
    padding: 14px 15px 15px 15px;
    text-decoration: none;
    background: black;
}
/* Change the link color to #F45C77 on hover */
.main-nav li a:hover {
    background-color: #A699FF;
}
    
     /* navigation menu finish here */


.main-content {
    width: 100%;
    margin:20px 20px 20px 0px;
    padding:20px 0px 20px 0px;
    clear:both; 
    color: black;
    background: rebeccapurple;

    
}

.main-content-classes {
    float:right;
}
.row {
    width: 100%;
    
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-3 {
  width: 33.33%;
  float: left;
}

.full-image {
    width: 100%;
    background: #2D3025;
}

.class-tiles {
}

.div ul {
    list-style: none;
    text-align: center;
}

.div ul li {
    display: inline-block;
    margin: 0px 30px;
}

.div ul li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
